<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Get Restaurant description">
  <meta name="theme-color" content="#c90202"/>
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <title>Get Restaurant Apps</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke daftar restaurant</a>
  <header id="drawer">
    <ul>
      <li class="drawer-title">Get Restaurant</li>
      <li class="drawer-body"><a href="#/">Home</a></li>
      <li class="drawer-body"><a href="#/favorite">Favorite</a></li>
      <li class="drawer-body"><a href="https://www.linkedin.com/in/rizal-baihaqi-47564a190">About</a></li>
    </ul>
  </header>

  <main>
    <div class="drawer-icon">
      <a id="hamburger" aria-label="navigation-menu">☰</a> 
    </div>

    <picture>
      <source type="image/jpeg" media="(max-width: 550px)" srcset="./images/heros/hero-image_2-small.jpg">
      <source type="image/jpeg" media="(min-width: 551px)" srcset="./images/heros/hero-image_2-large.jpg">
      <img class="jumbotron" src="./images/heros/hero-image_2-large.jpg" alt="">
    </picture>

    <section id="maincontent" tabindex="0" class="maincontent">
      
    </section>
  </main>

  <footer>
    <h3> Get Restaurant Apps &copy; 2022, Dicoding Academy</h3>
  </footer>
</body>
</html>
